.faq-body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f4f8;
    margin: 0;
    padding: 0;
    color: #333;
}

.faq-container {
    width: 40%;
    height: 650px;
    max-width: 1000px;
    margin: 60px auto;
    margin-bottom: 100px;

    padding: 30px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 15px #004242;
}

.faq-header {
    text-align: center;
    margin-bottom: 30px;
}

.faq-header h1 {
    font-size: 25px;
    color: #2c3e50;
}

.faq-section {
    margin-top: 20px;
}

.faq-section h2 {
    font-size: 20px;
    color: #34495e;
    margin-bottom: 20px;
    border-bottom: 2px solid #ecf0f1;
    padding-bottom: 10px;
}

.faq-item {
    margin-bottom: 20px;
    border-radius: 8px;
    overflow: hidden;
    background-color: #ecf0f1;
}

.faq-item input[type="checkbox"] {
    display: none;
}

.faq-item .faq-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #bdc3c7;
    cursor: pointer;
    transition: background-color 0.3s;
}

.faq-item .faq-title:hover {
    background-color: #a0aebc;
}

.faq-item .faq-title h3 {
    font-size: 19px;
    color: #2c3e50;
    margin: 0;
}

.faq-item .faq-title .faq-icon {
    font-size: 24px;
    color: #2c3e50;
    transition: transform 0.3s;
}

.faq-item .faq-content {
    padding: 15px;
    display: none;
    background-color: #f0f4f8;
}

.faq-item input[type="checkbox"]:checked + .faq-title + .faq-content {
    display: block;
}

.faq-item input[type="checkbox"]:checked + .faq-title .faq-icon {
    transform: rotate(45deg);
}

@media (max-width: 600px) {
    .faq-container {
        width: 100%;
        padding: 15px;
    }

    .faq-header h1 {
        font-size: 26px;
    }

    .faq-section h2 {
        font-size: 22px;
    }

    .faq-item .faq-title h3 {
        font-size: 18px;
    }

    .faq-item .faq-content {
        font-size: 14px;
    }
}
